<!DOCTYPE html>
<html>
    <head>
        <title>STAR WARS</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://bootswatch.com/5/cyborg/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='usersPage.css')}}">
    </head>
    <body >
        <div class="body0">
            <div class="separator"></div>
            <div class="body1" >            
                <div class="post">                 
                    <div class="header" >
                        <div>
                            <img class="logo" src="https://giffiles.alphacoders.com/212/212352.gif" style="width: 100px;" ><img/>
                        </div>
                        <div class="containernames">
                            <h3 class="title">STAR WARS </h3>
                            
                        </div> 
                        
                    </div>
                    
                    <div >
                        <img src="" ></img>
                        
                        <div>
                            <div>
                                <form id="userForm" action="{% if usuario %}/api/update/{{usuario.id}}{% else %}/api/users{% endif %}" method="POST" class="card car-body text-white">
                                
                                    <label for="username">Username</label>
                                    <input type="text"
                                    name="username" 
                                    placeholder="Username"
                                    value="{% if usuario %}{{usuario.username}}{% endif %}"
                                    class="form-control mb-2" 
                                    autofocus
                                    required/>

                                    <label for="username">especie</label>
                                    <input type="text"
                                    name="especie" 
                                    placeholder="especie"
                                    value="{% if usuario %}{{usuario.especie}}{% endif %}"
                                    class="form-control mb-2"
                                    required/>

                                    <label for="username">planeta</label>
                                    <input type="text"
                                    name="planeta" 
                                    placeholder="planeta"
                                    value="{% if usuario %}{{usuario.planeta}}{% endif %}"
                                    class="form-control mb-2"
                                    required
                                    />
                                    
                                    <button class="btn btn-primary">SAVE</button>
                                    
                                </form>
                                <ul id="userList" class="list-group">
                                    <li class="list-group-item"> item</li>
                                </ul>
                                <ul id="" class="list-group">
                                    {% for user in users %}
                                        <li class="list-group-item"> {{user.username}}
                                            <div style="width:20%;">
                                                <a class="btn btnDelete btn-danger btn-sm" style="width:50%;" href="/api/delete/{{user.id}}"><i class="fa fa-close" style="width:36px;"></i></a>
                                                <a class="btn btnEdit btn-primary btn-sm" style="width:50%;" href="/api/edit/{{user.id}}"><i class="fa fa-edit" style="width:36px;"></i></a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>       
            </div>
            
           
        <!--nuevo post-->
        </div>
    
        <!-- <script src="static/js/mainUsers.js"></script> -->
    </body>
    <footer>

    </footer>
</html>