<!DOCTYPE html>
<html>
    <head>
        <title>STAR WARS</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://bootswatch.com/5/cyborg/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" type="text/css" href="static/templates/usersPage/index.css">
    </head>
    <body >
        <div class="body0">
            <div class="separator"></div>
            <div class="body1" >            
                <div class="post">                 
                    <div class="header" >
                        <div>
                            <img class="logo" src="https://giffiles.alphacoders.com/212/212352.gif" style="width: 100px;" ><img/>
                        </div>
                        <div class="containernames">
                            <h3 class="title">STAR WARS </h3>
                            
                        </div> 
                        
                    </div>
                    
                    <div >
                        <img src="" ></img>
                        
                        <div>
                            <div>
                                <form id="userForm"class="card car-body text-white">
                                    <label for="username">Username</label>
                                    <input type="text"
                                    name="username" 
                                    placeholder="Username"
                                    class="form-control mb-2"
                                    required/>

                                    <label for="username">especie</label>
                                    <input type="text"
                                    name="especie" 
                                    placeholder="especie"
                                    class="form-control mb-2"
                                    required/>

                                    <label for="username">planeta</label>
                                    <input type="text"
                                    name="planeta" 
                                    placeholder="planeta"
                                    class="form-control mb-2"
                                    required
                                    />
                                    
                                    <button class="btn btn-primary">SAVE</button>
                                </form>
                                <ul id="userList" class="list-group">
                                    <li class="list-group-item"> item</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>       
            </div>
            
           
        <!--nuevo post-->
        </div>
    
        <script src="/static/js/mainUsers.js"></script>
    </body>
    <footer>

    </footer>
</html>