<!DOCTYPE html>
<html>
    <head>
        <title>STAR WARS</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://bootswatch.com/5/cyborg/bootstrap.min.css" rel="stylesheet" >
        <link rel="stylesheet" type="text/css" href="static/templates/homePage/index.css">
    </head>
    <body >
        <container class="body0">
            <div class="body1" >            
                <div class="post">                 
                    <div class="header" >
                        <div>
                            <img class="logo" src="https://giffiles.alphacoders.com/212/212352.gif" style="width: 100px;" ><img/>
                        </div>
                        <div class="containernames">
                            <h3 class="title">STAR WARS </h3>    
                        </div>   
                    </div>
                    <div>                      
         
                        <ul id="userList" class="list-group">
                            <li class="list-group-item"> item</li>
                        </ul>
       
                    </div>
                           
                </div>
            </div>        
        </container>
            
           
        <!--nuevo post-->
        <container class="body1" >            
            <div class="post">                 
                <div class="header" >
                    <div>
                        <img class="logo" src="https://giffiles.alphacoders.com/212/212352.gif" style="width: 100px;" ><img/>
                    </div>
                    <div class="containernames">
                        <h3 class="title">STAR WARS </h3>    
                    </div>   
                </div>
                <div>                      
     
                    <ul id="planetList" class="list-group">
                        <li class="list-group-item"> item</li>
                    </ul>
   
                </div>       
            </div>       
        
        </container>

        <!--nuevo post-->
        <container class="body1" >            
            <div class="post">                 
                <div class="header" >
                    <div>
                        <img class="logo" src="https://giffiles.alphacoders.com/212/212352.gif" style="width: 100px;" ><img/>
                    </div>
                    <div class="containernames">
                        <h3 class="title">STAR WARS </h3>    
                    </div>   
                </div>
                <div>                      
     
                    <ul id="speciesList" class="list-group">
                        <li class="list-group-item"> item</li>
                    </ul>
   
                </div>       
            </div>       
        
        </container>
        
        <!--nuevo post-->
        <container class="body1" >            
            <div class="post">                 
                <div class="header" >
                    <div>
                        <img class="logo" src="https://giffiles.alphacoders.com/212/212352.gif" style="width: 100px;" ><img/>
                    </div>
                    <div class="containernames">
                        <h3 class="title">STAR WARS </h3>    
                    </div>   
                </div>
                <div>                      
     
                    <ul id="starshipsList" class="list-group">
                        <li class="list-group-item"> item</li>
                    </ul>
   
                </div>       
            </div>       
        
        </container>

        <!--nuevo post-->
        <container class="body1" >            
            <div class="post">                 
                <div class="header" >
                    <div>
                        <img class="logo" src="https://giffiles.alphacoders.com/212/212352.gif" style="width: 100px;" ><img/>
                    </div>
                    <div class="containernames">
                        <h3 class="title">STAR WARS </h3>    
                    </div>   
                </div>
                <div>                      
     
                    <ul id="vehiclesList" class="list-group">
                        <li class="list-group-item"> item</li>
                    </ul>
   
                </div>       
            </div>       
        
        </container>
        <script src="/static/templates/homePage/mainHome.js"></script>
        
    </body>
    <footer>

    </footer>
</html>